/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Teal9: #087f5b;
  --darkGray: #343a40;
  --lightGray: #868e96;
  --veryLightGray: #ced4da;
  --white: #fff;
  --text-lightGreen1: #e6fcf5;
  --text-lightGreen2: #c3fae8;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.carousel {
  background-color: var(--Teal9);

  position: relative;
  width: 800px;
  margin: 100px auto;
  padding: 32px 48px 32px 86px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 86px;
}

img {
  height: 200px;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.testimonial {
}
.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: var(--text-lightGreen1);
}
.testimonial-author {
  font-size: 14px;
  margin-bottom: 4px;
  color: var(--text-lightGreen2);
}
.testimonial-job {
  font-size: 12px;
  color: var(--text-lightGreen2);
}
.btn {
  background-color: var(--white);
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-icon {
  width: 24px;
  height: 24px;
  stroke: var(--Teal9);
}

.btn-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-right {
  right: 0;
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0in;
  transform: translate(-50%, 32px);
  display: flex;
  gap: 12px;
}
.dot {
  height: 12px;
  width: 12px;
  background-color: var(--white);
  border: 2px solid var(--Teal9);
  border-radius: 50%;
  cursor: pointer;
}

.dot-fill {
  background-color: var(--Teal9);
}
